<!doctype html>
<html class="no-js" lang="{{ app.request.locale|slice(0, 2) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gros Gary Collection</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon icon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

    <!-- all css here -->
    <link rel="stylesheet" href="{{ asset('bundles/syliusshop/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/syliusshop/css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/syliusshop/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/syliusshop/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/syliusshop/css/meanmenu.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/syliusshop/css/bundle.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/syliusshop/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/syliusshop/css/responsive.css') }}">

    <script src="{{ asset('bundles/syliusshop/js/vendor/modernizr-2.8.3.min.js') }}"></script>

    {{ sonata_block_render_event('sylius.shop.layout.head') }}
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="home-six-wrapper">
    <div class="home-six-slider-1">
        <!-- header start -->
        <header class="header-area header-style-6 absolute-bar">
            <div class="header-top">
{#                <div class="header-logo f-left">
                    <a href="index.html">
                        <img src="{{ asset('bundles/syliusshop/img/logo/gros-gary-collection.png') }}" alt="Gros Gary Collection">
                    </a>
                </div>#}
                <div class="side-menu-icon f-right sidebar-menu-active">
                    <a href="#">
                        <i class="fa fa-bars" aria-hidden="true" style="color: transparent;"></i>
                    </a>
                </div>
                <div class="mobile-menu-area visible-xs">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active">
                            <ul class="menu-overflow">
                                <li><a href="{{ path('sylius_shop_homepage') }}">{{ 'sylius.ui.home'|trans }}</a></li>
                                <li><a href="#">{{ 'grosgary.shop'|trans }}</a></li>
                                <li>{{ render(path('bitbag_sylius_cms_plugin_shop_page_show_link_by_code', {'code' : 'about', 'template' : '@BitBagSyliusCmsPlugin/Shop/Page/Show/_link.html.twig'})) }}</li>
                                <li><a href="{{ path('sylius_shop_contact_request') }}">{{ 'grosgary.contact'|trans }}</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- header end -->
        <!-- slider start -->
        <div class="slider-area">
            <div class="slider-active-seven owl-carousel">
                <div class="single-slider bg-img height-100-vh" style="background-image:url({{ asset('bundles/syliusshop/img/slider/slide0.gif') }});">
                    <div class="slider-banner-content text-center slider-position slide1">
                        <h2>Gros Gary</br>Collection</h2>
                        <h3>Handmade / Inclusive / Responsible Clothing</h3>
                        <p><a href="http://www.grosgarycollection.com/fr/taxons/shop">Entrer</a></p>
                        <p><a href="http://www.grosgarycollection.com/en/taxons/shop">Enter</a></p>
                        {#<a href="#"><i class="fa fa-long-arrow-right"></i> Next</a>#}
                    </div>
                </div>
                <div class="single-slider bg-img height-100-vh" style="background-image:url({{ asset('bundles/syliusshop/img/slider/slide1.jpg') }});">
                    <div class="slider-banner-content text-center slider-position">
                        <h2>Gros Gary</br>Collection</h2>
                        <h3>Handmade / Inclusive / Responsible Clothing</h3>
                        <p><a href="http://www.grosgarycollection.com/fr/taxons/shop">Entrer</a></p>
                        <p><a href="http://www.grosgarycollection.com/en/taxons/shop">Enter</a></p>
                        {#<a href="#"><i class="fa fa-long-arrow-right"></i> Next</a>#}
                    </div>
                </div>
                <div class="single-slider bg-img height-100-vh" style="background-image:url({{ asset('bundles/syliusshop/img/slider/slide2.jpg') }});">
                    <div class="slider-banner-content text-center slider-position">
                        <h2>Gros Gary</br>Collection</h2>
                        <h3>Handmade / Inclusive / Responsible Clothing</h3>
                        <p><a href="http://www.grosgarycollection.com/fr/taxons/shop">Entrer</a></p>
                        <p><a href="http://www.grosgarycollection.com/en/taxons/shop">Enter</a></p>
                        {#<a href="#"><i class="fa fa-long-arrow-right"></i> Next</a>#}
                    </div>
                </div>
            </div>
        </div>
        <!-- slider end -->
        <!-- footer area start -->
        <footer class="footer-area ptb-25 footer-position">
            <div class="footer-style-6">
                <div class="footer-copyright-6 f-left">
                    <p>
                        Copyright ©
                        <a href="http://www.annaburos.fr/" target="blank">Anna Buros</a>
                        2018. All right reserved
                    </p>
                </div>
                <div class="footer-social-6 f-right">
                    <ul>
                        <li>
                            <a href="https://www.instagram.com/grosgarycollection/">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/grosgarycollection/">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.pinterest.fr/GrosGaryCollection">
                                <i class="fa fa-pinterest"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCOXy6FWtujS0E1IET5tGqzw">
                                <i class="fa fa-youtube-play"></i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:hello@grosgarycollection.com">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- footer area end -->
        <div class="sidebar-mega-menu sidebar-mega-menu3">
                    <span class="sidebar-menu-active menu-icon-style">
                        <a href="#">
                            <i class="fa fa-times" aria-hidden="true" style="color: transparent;"></i>
                        </a>
                    </span>
            <nav>
                <ul>
                    <li><a href="{{ path('sylius_shop_homepage') }}">{{ 'sylius.ui.home'|trans }}</a></li>
                    <li><a href="#">{{ 'grosgary.shop'|trans }}</a></li>
                    <li>{{ render(path('bitbag_sylius_cms_plugin_shop_page_show_link_by_code', {'code' : 'about', 'template' : '@BitBagSyliusCmsPlugin/Shop/Page/Show/_link.html.twig'})) }}</li>
                    <li><a href="{{ path('sylius_shop_contact_request') }}">{{ 'grosgary.contact'|trans }}</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- all js here -->

<script src="{{ asset('bundles/syliusshop/js/vendor/jquery-1.12.0.min.js') }}"></script>
<script src="{{ asset('bundles/syliusshop/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/syliusshop/js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('bundles/syliusshop/js/isotope.pkgd.min.js') }}"></script>
<script src="{{ asset('bundles/syliusshop/js/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ asset('bundles/syliusshop/js/jquery.counterup.min.js') }}"></script>
<script src="{{ asset('bundles/syliusshop/js/waypoints.min.js') }}"></script>
<script src="{{ asset('bundles/syliusshop/js/ajax-mail.js') }}"></script>
<script src="{{ asset('bundles/syliusshop/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('bundles/syliusshop/js/plugins.js') }}"></script>
<script src="{{ asset('bundles/syliusshop/js/main.js') }}"></script>


</body>
</html>

