{% if product.images|length > 1 %}

    <div class="tab-content product-details-images">
    {% for image in product.imagesByType('slide') %}
            {% set path = image.path is not null ? image.path|imagine_filter('sylius_shop_product_original') : '//placehold.it/200x200' %}
            <div class="tab-pane {{ loop.first ? 'active' : ''}}" id="{{ image.id }}">
                <img src="{{ path }}" alt="" style="width: 100%"  data-action="zoom"/>
            </div>
    {% endfor %}
    </div>

    <div class="product-tab-details">
    {% for image in product.imagesByType('slide') %}
            {% set path = image.path is not null ? image.path|imagine_filter('sylius_shop_product_original') : '//placehold.it/200x200' %}
            <a href="#{{ image.id }}" data-toggle="tab">
                <img src="{{ path }}" alt="" style="width: 70px"/>
            </a>
    {% endfor %}
    </div>
{% endif %}


