{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
{% include '@SyliusShop/Product/Show/_breadcrumb.html.twig' %}
<div class="product-details-area pt-60">
    <div class="container">
        <div class="row">
            <div class="product-details-content">
                <div class="col-md-6">
                    <div class="product-details-leftbar">
                        {{ sonata_block_render_event('sylius.shop.product.show.before_images', {'product': product}) }}
                        {% include '@SyliusShop/Product/Show/_images.html.twig' %}
                        {{ sonata_block_render_event('sylius.shop.product.show.after_images', {'product': product}) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-details-rightbar">
                        <div class="single-product-details">
                            {% include '@SyliusShop/Product/Show/_header.html.twig' %}
                            {{ sonata_block_render_event('sylius.shop.product.show.after_product_header', {'product': product}) }}
                            {% include '@SyliusShop/Product/Show/_reviews.html.twig' %}
                            {{ sonata_block_render_event('sylius.shop.product.show.after_reviews', {'product': product}) }}
                            {% if not product.variants.empty() %}
                                {% include '@SyliusShop/Product/Show/_price.html.twig' %}
                            {% endif %}
                            <p>{{ product.shortDescription }}</p>
                        </div>
                        {% include '@SyliusShop/Product/Show/_inventory.html.twig' %}
                        {% include '@SyliusShop/Product/Show/_socialShareButtons.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
