{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
{% include '@SyliusShop/Product/Show/_breadcrumb.html.twig' %}
<div class="product-details-area pt-60">
    <div class="container">
        <div class="row">
            <div class="product-details-content">
                <div class="col-md-6">
                    <div class="product-details-leftbar">
                        {{ sonata_block_render_event('sylius.shop.product.show.before_images', {'product': product}) }}
                        {% include '@SyliusShop/Product/Show/_images.html.twig' %}
                        {{ sonata_block_render_event('sylius.shop.product.show.after_images', {'product': product}) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-details-rightbar">
                        <div class="single-product-details">
                            {% include '@SyliusShop/Product/Show/_header.html.twig' %}
                            {{ sonata_block_render_event('sylius.shop.product.show.after_product_header', {'product': product}) }}
                            {% include '@SyliusShop/Product/Show/_reviews.html.twig' %}
                            {{ sonata_block_render_event('sylius.shop.product.show.after_reviews', {'product': product}) }}
                            {% if not product.variants.empty() %}
                                {% include '@SyliusShop/Product/Show/_price.html.twig' %}
                            {% endif %}
                            <p>{{ product.shortDescription }}</p>
                        </div>
                        {% include '@SyliusShop/Product/Show/_inventory.html.twig' %}
                        {% include '@SyliusShop/Product/Show/_socialShareButtons.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="description-review-shipping">
    <div class="container">
        <div class="review-shipping-topbar">
            <ul role="tablist">
                <li class="active">
                    <a href="#description" data-toggle="tab">
                        Description
                    </a>
                </li>
                <li>
                    <a href="#reviews" data-toggle="tab">
                        Reviews
                    </a>
                </li>
                <li>
                    <a class="shipping-none" href="#shipping" data-toggle="tab">
                        Shipping
                    </a>
                </li>
            </ul>
        </div>
        <div class="review-shipping-bottom">
            <div class="tab-content">
                <div id="description" class="tab-pane active">
                    <p class="description-mrg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet libero nec felis ultricies facilisis. Maecenas ut elit at sem porttitor fringilla. Sed sagittis enim vitae lectus condimentum bibendum. Sed at suscipit eros, ac sodales justo. Nullam vitae metus eget massa sollicitudin gravida. Sed mauris lectus, tempus vel turpis quis, congue vestibulum libero. Vivamus ullamcorper accumsan fermentum. In hac habitasse platea dictumst. In vulputate enim dui, eu molestie risus placerat at. </p>
                    <p>In hac habitasse platea dictumst. In vulputate enim dui, eu molestie risus placerat at. Praesent nec magna sed nisi sagittis mollis ut at augue. Sed molestie eros et nisl bibendum luctus. Vestibulum eu lectus a lectus viverra luctus nec et leo.</p>
                </div>
                <div id="reviews" class="tab-pane">
                    <div class="rattings-wrapper">
                        <div class="sin-rattings">
                            <div class="star-author-all">
                                <div class="ratting-star f-left">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>(5)</span>
                                </div>
                                <div class="ratting-author f-right">
                                    <h3>tayeb rayed</h3>
                                    <span>12:24</span>
                                    <span>9 March 2017</span>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost rud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost.</p>
                        </div>
                        <div class="sin-rattings">
                            <div class="star-author-all">
                                <div class="ratting-star f-left">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>(5)</span>
                                </div>
                                <div class="ratting-author f-right">
                                    <h3>farhana shuvo</h3>
                                    <span>12:24</span>
                                    <span>9 March 2017</span>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost rud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost.</p>
                        </div>
                    </div>
                    <div class="ratting-form-wrapper">
                        <h3>Add your Comments :</h3>
                        <div class="ratting-form">
                            <form action="#">
                                <div class="star-box">
                                    <h2>Rating:</h2>
                                    <div class="ratting-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="rating-form-style mb-20">
                                            <input placeholder="Name" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="rating-form-style mb-20">
                                            <input placeholder="Email" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="rating-form-style">
                                            <textarea name="message" placeholder="Message"></textarea>
                                            <button class="submit" type="submit">add review</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="shipping" class="tab-pane">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet libero nec felis ultricies facilisis. Maecenas ut elit at sem porttitor fringilla. Sed sagittis enim vitae lectus condimentum bibendum. Sed at suscipit eros, ac sodales justo. Nullam vitae metus eget massa sollicitudin gravida. Sed mauris lectus, tempus vel turpis quis, congue vestibulum libero. Vivamus ullamcorper accumsan fermentum. In hac habitasse platea dictumst. In vulputate enim dui, eu molestie risus placerat at. </p>
                    <p>In hac habitasse platea dictumst. In vulputate enim dui, eu molestie risus placerat at. Praesent nec magna sed nisi sagittis mollis ut at augue. Sed molestie eros et nisl bibendum luctus. Vestibulum eu lectus a lectus viverra luctus nec et leo.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
